
.home-container{
    height: 100vh;
    padding-top: 5rem;
}

.home-content-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-title-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
}

.home-name{
    font-weight: 800;
    color: var(--orange);
    font-size: var(--text-title);
}

.home-description {
    color: var(--teal);
    font-size: var(--text-4xl);
}