@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200..800&display=swap');
:root {
    /* Main Colors */
    --navy: rgba(8, 61, 119, 1);
    --navy-hover: rgba(8, 61, 119, 0.85);
    --navy-light: rgba(8, 61, 119, 0.15);

    --beige: rgba(235, 235, 211, 1);
    --beige-hover: rgba(235, 235, 211, 0.85);
    --beige-light: rgba(235, 235, 211, 0.2);

    --gold: rgba(244, 211, 94, 1);
    --gold-hover: rgba(244, 211, 94, 0.85);
    --gold-light: rgba(244, 211, 94, 0.2);

    --orange: rgba(238, 150, 75, 1);
    --orange-hover: rgba(238, 150, 75, 0.85);
    --orange-light: rgba(238, 150, 75, 0.2);

    --red: rgba(249, 87, 56, 1);
    --red-hover: rgba(249, 87, 56, 0.85);
    --red-light: rgba(249, 87, 56, 0.15);

    --black: rgba(1, 10, 19, 1);
    --black-hover: rgba(1, 10, 19, 0.85);
    --black-light: rgba(1, 10, 19, 0.1);

    /* Font Sizes */
    --fs-xs: 0.75rem;
    --fs-sm: 0.875rem;
    --fs-base: 1rem;
    --fs-lg: 1.125rem;
    --fs-xl: 1.25rem;
    --fs-2xl: 1.5rem;
    --fs-3xl: 2rem;

    /* Border radius*/
    --radius-sm: 4px;
    --radius-md: 8px;
    --radius-lg: 12px;
    --radius-full: 9999px;
}

*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    background-color: var(--black);
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;

    /* FONT */
    font-family: "Oxanium", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}
